<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Adicionar filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label>Título</ion-label>
        <ion-input type="text" [(ngModel)]="formData.titulo" name="titulo" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-textarea [(ngModel)]="formData.categoria" name="categoria" required></ion-textarea>
      </ion-item>
      <ion-button type="submit" expand="block">Enviar</ion-button>
    </form>

</ion-content>
