<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <img src="http://i.picasion.com/pic89/b62fb1f66df73f999b2b3e315dde64b4.gif" width="300" height="300"/>

  <p align="justify" border="5">
    O filme é uma obra de arte realizada através da sucessão de imagens em vídeo e com som. O cinema ou a arte de fazer filmes de diversos tipos é considerado uma das sete artes e é hoje em dia uma das mais populares, pois chega a uma importante e variada quantidade de público. Os filmes apresentam certas características gerais que podem variar entre um caso e outro.
  </p>
</ion-content>
